.clearBtn {
	grid-area: clearBtn;
	margin: 0.3em;
}

.btn {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background-color: var(--digit-btn);
	cursor: pointer;
}

.btn:hover {
	background-color: var(--digit-btn-hover);
	transition: ease-in-out 250ms;
}
