.btn {
	background-color: var(--operator-btn);
	color: var(--btn-font-color);
	margin: 0.3em;
	border-radius: 10px;
	cursor: pointer;
}

.btn:hover {
	background-color: var(--operator-btn-hover);
	transition: ease-in-out 250ms;
}
